.login-wrapper {
    padding: 30vh;
    display: flex;
    justify-content: space-around;
}

.login-button {
    background-color: #5FE122 !important;
    border: 0 !important;
    width: 280px;
    height: 5vh !important;
    font-size: 18px !important;
}