.wrapper {
    padding: 10vh;
    width: 100%;
}

.update-home-button {
    background-color: #C4C4C4 !important;
    width: 55vh;
    height: 10vh !important;
    font-size: 30px !important;
}

.currency-card {
    width: 25vh;
    text-align: center;
    margin: 5vh 0 !important;
}

.currency-card-content {
    font-size: 3vh;
}

.ant-input-number-input {
    font-size: 30px;
    margin-left: 25px;
}