.wrapper {
    padding: 10vh;
    width: 100%;
}

.update-home-button {
    background-color: #C4C4C4 !important;
    height: 100% !important;
    font-size: 200% !important;
}

.currency-card {
    text-align: center;
    margin: 25% 0 !important;
}

.currency-card-content {
    font-size: 150%;
}

.ant-input-number-input {
    font-size: 150%;
    margin-left: 30%;
}